.registration-main-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #A903FC;
}

.start-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #A903FC;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-weight: 500;
  :hover {
    cursor: pointer;
  }
}

.registration-main-container > :not(.start-button) {
  box-sizing: border-box;
  width: 100%;
  max-width: 720px;
  padding: 0 16px;
}
