.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.form-label {
  font-weight: 500;
  margin-bottom: 4px;
}

.form-textarea {
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  resize: vertical;
  min-height: 100px; 
  &:focus {
    border-color: #a903fc;
  }

  &.warning {
    color: orange;
  }
}

.counter {
  align-self: flex-end;
  font-size: 12px;
  color: #666;
  margin-top: 4px;
}

.error {
  color: #d32f2f;
  font-size: 13px;
  margin-top: 4px;
}