.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.form-label {
  font-weight: 500;
  margin-bottom: 4px;
}

.form-textarea {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  outline: none;
  resize: vertical;
  min-height: 100px; 
  &:focus {
    border-color: #A903FC;
  }

  &.warning {
    color: #FFA500;
  }
}

.counter {
  align-self: flex-end;
  font-size: 12px;
  color: #495057;
  margin-top: 4px;
}

.error {
  color: #D32F2F;
  font-size: 13px;
  margin-top: 4px;
}