.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.form-label {
  font-size: 14px;
  font-weight: 500;
  color: #A903fC;
  display: flex;
  margin-bottom: 6px;
}

.form-input {
  width: 100%;
  height: 44px;
  padding: 0 12px;
  border-radius: 8px;
  border: 1px solid #ECECEC;
  font-size: 14px;
  transition: border-color 0.2s ease;
  &:focus {
    outline: none;
    border-color: #A903FC;
  }
}

.error {
  font-size: 12px;
  color: #D32F2F;
}
