.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
}

.form-label {
  font-weight: 500;
  margin-bottom: 4px;
  margin-top: 20px;
}

.form-select {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #CCCCCC;
  outline: none;
  border: none;

  &:focus {
    border-color: #A903FC;
  }
}

.error {
  color: #D32F2F;
  font-size: 13px;
  margin-top: 4px;
}
